<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fetchtex_FAQs::faq" title="FAQs" translate="title" module="Fetchtex_FAQs" parent="Magento_Backend::content" sortOrder="90" resource="Magento_Catalog::listing"/>
        <add id="Fetchtex_FAQs::faq_list" title="FAQs" module="Fetchtex_FAQs" sortOrder="99" parent="Fetchtex_FAQs::faq" resource="Fetchtex_FAQs::listing" action="fetchtex_faqs/faqs/index" />
        <add id="Fetchtex_FAQs::faq_category_list" title="FAQ Categories" module="Fetchtex_FAQs" sortOrder="99" parent="Fetchtex_FAQs::faq" resource="Fetchtex_FAQs::listing" action="fetchtex_faqs/category/index" />
    </menu>
</config>

