<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fetchtex_FAQs::hello_configuration" title="FAQs" module="Fetchtex_FAQs" sortOrder="99" parent="Magento_Backend::content_elements" resource="Fetchtex_FAQs::listing" action="fetchtex_faqs/faqs/index" />
    </menu>
</config>

